## IDE and editor files.
.idea/
.vscode/
.cache/

## Build files.
/out/
/out-sanitise/
/start
/Prescriptivism
/PrescriptivismServer
/Prescriptivism.exe
/PrescriptivismServer.exe

## Profiling.
/callgrind.out.*
/cachegrind.out.*
/perf.data
